NODE_ENV=development
OPENROUTER_API_KEY=your_openai_api_key_here
REDIS_URL=redis://redis:6379
PORT=4000
MONGODB_URI=sample
EB_TOKEN=sample
RESEND_API_KEY=sample
ONESIGNAL_APP_ID=sample
ONESIGNAL_API_KEY=sample
TWILIO_ACCOUNT_SEED=sample
TWILIO_ACCOUNT_TOKEN=sample
TWILIO_NUMBER=sample
FB_ACCESS_TOKEN=sample
FB_APP_ID=sample